<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [57]:
!pip install yfinance
!pip install pandas
!pip install requests
!pip install bs4
!pip install plotly

Requirement already satisfied: yfinance in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (0.1.55)
Requirement already satisfied: requests>=2.20 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from yfinance) (2.24.0)
Requirement already satisfied: pandas>=0.24 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from yfinance) (1.0.5)
Requirement already satisfied: multitasking>=0.0.7 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from yfinance) (0.0.9)
Requirement already satisfied: numpy>=1.15 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from yfinance) (1.18.5)
Requirement already satisfied: lxml>=4.5.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from yfinance) (4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests>=2.20->yfinance) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2.9)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: pandas in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (1.0.5)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests) (3.0.4)
Requirement already satisfied: bs4 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: plotly in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (4.8.2)
Requirement already satisfied: retrying>=1.3.3 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from plotly) (1.15.0)

In [58]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

## Define Graphing Function

In this section, we define the function `make_graph`. You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.

In [59]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data.Date, infer_datetime_format=True), y=stock_data.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data.Date, infer_datetime_format=True), y=revenue_data.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [60]:
Tesla = yf.Ticker("TSLA")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [61]:
tesla_data = Tesla.history(period="max")

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [62]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

        Date   Open   High    Low  Close    Volume  Dividends  Stock Splits
0 2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
1 2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2 2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage [https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue](https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ). Save the text of the response as a variable named `html_data`.

In [63]:
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [64]:
soup = BeautifulSoup(html_data, 'html.parser')

In [65]:
soup.find_all('table')

[<table class="historical_data_table table">
 <thead>
 <tr>
 <th colspan="2" style="text-align:center">Tesla Annual Revenue<br/><span style="font-size:14px;">(Millions of US $)</span></th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:center">2020</td>
 <td style="text-align:center">$31,536</td>
 </tr>
 <tr>
 <td style="text-align:center">2019</td>
 <td style="text-align:center">$24,578</td>
 </tr>
 <tr>
 <td style="text-align:center">2018</td>
 <td style="text-align:center">$21,461</td>
 </tr>
 <tr>
 <td style="text-align:center">2017</td>
 <td style="text-align:center">$11,759</td>
 </tr>
 <tr>
 <td style="text-align:center">2016</td>
 <td style="text-align:center">$7,000</td>
 </tr>
 <tr>
 <td style="text-align:center">2015</td>
 <td style="text-align:center">$4,046</td>
 </tr>
 <tr>
 <td style="text-align:center">2014</td>
 <td style="text-align:center">$3,198</td>
 </tr>
 <tr>
 <td style="text-align:center">2013</td>
 <td style="text-align:center">$2,013</td>
 </tr>
 <tr>
 <td style="text-align:center">2012</td>
 <td style="text-align:center">$413</td>
 </tr>
 <tr>
 <td style="text-align:center">2011</td>
 <td style="text-align:center">$204</td>
 </tr>
 <tr>
 <td style="text-align:center">2010</td>
 <td style="text-align:center">$117</td>
 </tr>
 <tr>
 <td style="text-align:center">2009</td>
 <td style="text-align:center">$112</td>
 </tr>
 <tr>
 <td style="text-align:center">2008</td>
 <td style="text-align:center">$15</td>
 </tr>
 </tbody>
 </table>,
 <table class="historical_data_table table">
 <thead>
 <tr>
 <th colspan="2" style="text-align:center">Tesla Quarterly Revenue<br/><span style="font-size:14px;">(Millions of US $)</span></th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:center">2020-12-31</td>
 <td style="text-align:center">$10,744</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-09-30</td>
 <td style="text-align:center">$8,771</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-06-30</td>
 <td style="text-align:center">$6,036</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-03-31</td>
 <td style="text-align:center">$5,985</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-12-31</td>
 <td style="text-align:center">$7,384</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-09-30</td>
 <td style="text-align:center">$6,303</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-06-30</td>
 <td style="text-align:center">$6,350</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-03-31</td>
 <td style="text-align:center">$4,541</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-12-31</td>
 <td style="text-align:center">$7,226</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-09-30</td>
 <td style="text-align:center">$6,824</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-06-30</td>
 <td style="text-align:center">$4,002</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-03-31</td>
 <td style="text-align:center">$3,409</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-12-31</td>
 <td style="text-align:center">$3,288</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-09-30</td>
 <td style="text-align:center">$2,985</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-06-30</td>
 <td style="text-align:center">$2,790</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-03-31</td>
 <td style="text-align:center">$2,696</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-12-31</td>
 <td style="text-align:center">$2,285</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-09-30</td>
 <td style="text-align:center">$2,298</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-06-30</td>
 <td style="text-align:center">$1,270</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-03-31</td>
 <td style="text-align:center">$1,147</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-12-31</td>
 <td style="text-align:center">$1,214</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-09-30</td>
 <td style="text-align:center">$937</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-06-30</td>
 <td style="text-align:center">$955</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-03-31</td>
 <td style="text-align:center">$940</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-12-31</td>
 <td style="text-align:center">$957</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-09-30</td>
 <td style="text-align:center">$852</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-06-30</td>
 <td style="text-align:center">$769</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-03-31</td>
 <td style="text-align:center">$621</td>
 </tr>
 <tr>
 <td style="text-align:center">2013-12-31</td>
 <td style="text-align:center">$615</td>
 </tr>
 <tr>
 <td style="text-align:center">2013-09-30</td>
 <td style="text-align:center">$431</td>
 </tr>
 <tr>
 <td style="text-align:center">2013-06-30</td>
 <td style="text-align:center">$405</td>
 </tr>
 <tr>
 <td style="text-align:center">2013-03-31</td>
 <td style="text-align:center">$562</td>
 </tr>
 <tr>
 <td style="text-align:center">2012-12-31</td>
 <td style="text-align:center">$306</td>
 </tr>
 <tr>
 <td style="text-align:center">2012-09-30</td>
 <td style="text-align:center">$50</td>
 </tr>
 <tr>
 <td style="text-align:center">2012-06-30</td>
 <td style="text-align:center">$27</td>
 </tr>
 <tr>
 <td style="text-align:center">2012-03-31</td>
 <td style="text-align:center">$30</td>
 </tr>
 <tr>
 <td style="text-align:center">2011-12-31</td>
 <td style="text-align:center">$39</td>
 </tr>
 <tr>
 <td style="text-align:center">2011-09-30</td>
 <td style="text-align:center">$58</td>
 </tr>
 <tr>
 <td style="text-align:center">2011-06-30</td>
 <td style="text-align:center">$58</td>
 </tr>
 <tr>
 <td style="text-align:center">2011-03-31</td>
 <td style="text-align:center">$49</td>
 </tr>
 <tr>
 <td style="text-align:center">2010-12-31</td>
 <td style="text-align:center">$36</td>
 </tr>
 <tr>
 <td style="text-align:center">2010-09-30</td>
 <td style="text-align:center">$31</td>
 </tr>
 <tr>
 <td style="text-align:center">2010-06-30</td>
 <td style="text-align:center">$28</td>
 </tr>
 <tr>
 <td style="text-align:center">2010-03-31</td>
 <td style="text-align:center">$21</td>
 </tr>
 <tr>
 <td style="text-align:center">2009-12-31</td>
 <td style="text-align:center"></td>
 </tr>
 <tr>
 <td style="text-align:center">2009-09-30</td>
 <td style="text-align:center">$46</td>
 </tr>
 <tr>
 <td style="text-align:center">2009-06-30</td>
 <td style="text-align:center">$27</td>
 </tr>
 <tr>
 <td style="text-align:center">2008-12-31</td>
 <td style="text-align:center"></td>
 </tr>
 </tbody>
 </table>,
 <table class="historical_data_table table">
 <thead>
 <tr>
 <th style="text-align:center">Sector</th>
 <th style="text-align:center">Industry</th>
 <th style="text-align:center">Market Cap</th>
 <th style="text-align:center">Revenue</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:center"><a href="https://www.macrotrends.net/stocks/sector/5/auto-tires-trucks">Auto/Tires/Trucks</a></td>
 <td style="text-align:center"><a href="https://www.macrotrends.net/stocks/industry/7/">Auto Manufacturers - Domestic</a></td>
 <td style="text-align:center">$628.580B</td>
 <td style="text-align:center">$31.536B</td>
 </tr>
 <tr>
 <td colspan="4" style="padding:15px;">
 <span>Tesla Inc. designs, develops, manufactures, and sells electric vehicles and stationary energy storage products. It operates primarily in the United States, China, Norway and internationally. Tesla Inc., formerly known as Tesla Motors Inc., is headquartered in Palo Alto, California.</span>
 </td>
 </tr>
 </tbody>
 </table>,
 <table class="historical_data_table table">
 <thead>
 <tr>
 <th style="text-align:center; width:40%;">Stock Name</th>
 <th style="text-align:center; width:20%;">Country</th>
 <th style="text-align:center; width:20%;">Market Cap</th>
 <th style="text-align:center; width:20%;">PE Ratio</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/GM/general-motors/revenue">General Motors (GM)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$86.195B</td>
 <td style="text-align:center">12.26</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/F/ford-motor/revenue">Ford Motor (F)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$51.047B</td>
 <td style="text-align:center">31.29</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/PCAR/paccar/revenue">PACCAR (PCAR)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$32.980B</td>
 <td style="text-align:center">25.42</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/PII/polaris/revenue">Polaris (PII)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$8.390B</td>
 <td style="text-align:center">17.56</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/IAA/iaa/revenue">IAA (IAA)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$7.403B</td>
 <td style="text-align:center">35.96</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/NKLA/nikola/revenue">Nikola (NKLA)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$6.044B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/FOXF/fox-factory-holding/revenue">Fox Factory Holding (FOXF)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$5.617B</td>
 <td style="text-align:center">44.94</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/HOG/harley-davidson/revenue">Harley-Davidson (HOG)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$5.404B</td>
 <td style="text-align:center">45.78</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/VRM/vroom/revenue">Vroom (VRM)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$4.987B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/BLBD/blue-bird/revenue">Blue Bird (BLBD)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$0.704B</td>
 <td style="text-align:center">39.95</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/AUTO/autobytel/revenue">Autobytel (AUTO)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$0.041B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 </tbody>
 </table>,
 <table class="table">
 <thead>
 <tr>
 <th>Link Preview</th>
 <th>HTML Code (Click to Copy)</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td><a>Tesla Revenue 2009-2020 | TSLA</a></td>
 <td><input class="modal_link" size="60" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Tesla Revenue 2009-2020 | TSLA&lt;/a&gt;"/></td>
 </tr>
 <tr>
 <td><a>Macrotrends</a></td>
 <td><input class="modal_link" size="60" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Macrotrends&lt;/a&gt;"/></td>
 </tr>
 <tr>
 <td><a>Source</a></td>
 <td><input class="modal_link" size="60" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Source&lt;/a&gt;"/></td>
 </tr>
 </tbody>
 </table>,
 <table class="table">
 <thead>
 <tr>
 <th>Link Preview</th>
 <th>HTML Code (Click to Copy)</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td><a>Tesla Revenue 2009-2020 | TSLA</a></td>
 <td><input class="modal_link" size="50" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Tesla Revenue 2009-2020 | TSLA&lt;/a&gt;"/></td>
 </tr>
 <tr>
 <td><a>Macrotrends</a></td>
 <td><input class="modal_link" size="50" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Macrotrends&lt;/a&gt;"/></td>
 </tr>
 <tr>
 <td><a>Source</a></td>
 <td><input class="modal_link" size="50" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'&gt;Source&lt;/a&gt;"/></td>
 </tr>
 </tbody>
 </table>]

Using beautiful soup extract the table with `Tesla Quarterly Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column.

In [66]:
tables= soup.find_all('table')
tesla_revenue= pd.DataFrame(columns=["Date", "Revenue"])
for index, table in enumerate(tables):
    if("Tesla Quarterly Revenue" in str (table)):
        table_index = index
for row in tables[table_index].tbody.find_all("tr"): 
    column = row.find_all("td")
    if (column != []):
        date = column[0].text
        revenue = column[1].text
    tesla_revenue = tesla_revenue.append({"Date":date, "Revenue":revenue}, ignore_index=True)
    
tesla_revenue.head()

         Date  Revenue
0  2020-12-31  $10,744
1  2020-09-30   $8,771
2  2020-06-30   $6,036
3  2020-03-31   $5,985
4  2019-12-31   $7,384

tesla_revenue= pd.DataFrame(columns=["Date", "Revenue"])
for table in soup.find_all("table", attrs={"class":"historical_data_table table"}):
    if table.find("th").getText().startswith("Tesla Quarterly Revenue"):
for row in table.find("tbody").find_all("tr"): 
    column = row.find_all("td")
    if len(column) != 2: continue
    Date =column[0].text
    Revenue =column[1].text
    tesla_revenue = tesla_revenue.append({"Date":date, "Revenue":revenue}, ignore_index=True)

Remove the rows in the dataframe that are empty strings or are NaN in the Revenue column. Print the entire `tesla_revenue` DataFrame to see if you have any.

In [67]:
tesla_revenue.dropna(inplace=True)

In [68]:
tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

<details><summary>Click here if you need help removing the Nan or empty strings</summary>

```
    
If you have NaN in the Revenue column
    
    tesla_revenue.dropna(inplace=True)
    
If you have emtpty string in the Revenue column

    tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

```

</details>

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [69]:
tesla_revenue.tail(5)

          Date Revenue
41  2010-09-30     $31
42  2010-06-30     $28
43  2010-03-31     $21
45  2009-09-30     $46
46  2009-06-30     $27

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [70]:
GameStop = yf.Ticker("GME")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [71]:
gme_data = GameStop.history(period = "max")

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [72]:
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,6.480513,6.773399,6.413183,6.766666,19054000,0.0,0.0
1,2002-02-14,6.850831,6.864296,6.682506,6.733003,2755400,0.0,0.0
2,2002-02-15,6.733001,6.749833,6.632006,6.699336,2097400,0.0,0.0
3,2002-02-19,6.665671,6.665671,6.312189,6.430017,1852600,0.0,0.0
4,2002-02-20,6.463681,6.648838,6.413183,6.648838,1723200,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage [https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue](https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ). Save the text of the response as a variable named `html_data`.

In [73]:
url = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"
html_data = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [74]:
soup = BeautifulSoup(html_data, 'html.parser')

In [75]:
soup.find_all('table')

[<table class="historical_data_table table">
 <thead>
 <tr>
 <th colspan="2" style="text-align:center">GameStop Annual Revenue<br/><span style="font-size:14px;">(Millions of US $)</span></th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:center">2020</td>
 <td style="text-align:center">$6,466</td>
 </tr>
 <tr>
 <td style="text-align:center">2019</td>
 <td style="text-align:center">$8,285</td>
 </tr>
 <tr>
 <td style="text-align:center">2018</td>
 <td style="text-align:center">$8,547</td>
 </tr>
 <tr>
 <td style="text-align:center">2017</td>
 <td style="text-align:center">$7,965</td>
 </tr>
 <tr>
 <td style="text-align:center">2016</td>
 <td style="text-align:center">$9,364</td>
 </tr>
 <tr>
 <td style="text-align:center">2015</td>
 <td style="text-align:center">$9,296</td>
 </tr>
 <tr>
 <td style="text-align:center">2014</td>
 <td style="text-align:center">$9,040</td>
 </tr>
 <tr>
 <td style="text-align:center">2013</td>
 <td style="text-align:center">$8,887</td>
 </tr>
 <tr>
 <td style="text-align:center">2012</td>
 <td style="text-align:center">$9,551</td>
 </tr>
 <tr>
 <td style="text-align:center">2011</td>
 <td style="text-align:center">$9,474</td>
 </tr>
 <tr>
 <td style="text-align:center">2010</td>
 <td style="text-align:center">$9,078</td>
 </tr>
 <tr>
 <td style="text-align:center">2009</td>
 <td style="text-align:center">$8,806</td>
 </tr>
 <tr>
 <td style="text-align:center">2008</td>
 <td style="text-align:center">$7,094</td>
 </tr>
 <tr>
 <td style="text-align:center">2007</td>
 <td style="text-align:center">$5,319</td>
 </tr>
 <tr>
 <td style="text-align:center">2006</td>
 <td style="text-align:center">$3,092</td>
 </tr>
 <tr>
 <td style="text-align:center">2005</td>
 <td style="text-align:center">$1,843</td>
 </tr>
 </tbody>
 </table>,
 <table class="historical_data_table table">
 <thead>
 <tr>
 <th colspan="2" style="text-align:center">GameStop Quarterly Revenue<br/><span style="font-size:14px;">(Millions of US $)</span></th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:center">2020-10-31</td>
 <td style="text-align:center">$1,005</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-07-31</td>
 <td style="text-align:center">$942</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-04-30</td>
 <td style="text-align:center">$1,021</td>
 </tr>
 <tr>
 <td style="text-align:center">2020-01-31</td>
 <td style="text-align:center">$2,194</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-10-31</td>
 <td style="text-align:center">$1,439</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-07-31</td>
 <td style="text-align:center">$1,286</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-04-30</td>
 <td style="text-align:center">$1,548</td>
 </tr>
 <tr>
 <td style="text-align:center">2019-01-31</td>
 <td style="text-align:center">$3,063</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-10-31</td>
 <td style="text-align:center">$1,935</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-07-31</td>
 <td style="text-align:center">$1,501</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-04-30</td>
 <td style="text-align:center">$1,786</td>
 </tr>
 <tr>
 <td style="text-align:center">2018-01-31</td>
 <td style="text-align:center">$2,825</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-10-31</td>
 <td style="text-align:center">$1,989</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-07-31</td>
 <td style="text-align:center">$1,688</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-04-30</td>
 <td style="text-align:center">$2,046</td>
 </tr>
 <tr>
 <td style="text-align:center">2017-01-31</td>
 <td style="text-align:center">$2,403</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-10-31</td>
 <td style="text-align:center">$1,959</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-07-31</td>
 <td style="text-align:center">$1,632</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-04-30</td>
 <td style="text-align:center">$1,972</td>
 </tr>
 <tr>
 <td style="text-align:center">2016-01-31</td>
 <td style="text-align:center">$3,525</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-10-31</td>
 <td style="text-align:center">$2,016</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-07-31</td>
 <td style="text-align:center">$1,762</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-04-30</td>
 <td style="text-align:center">$2,061</td>
 </tr>
 <tr>
 <td style="text-align:center">2015-01-31</td>
 <td style="text-align:center">$3,476</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-10-31</td>
 <td style="text-align:center">$2,092</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-07-31</td>
 <td style="text-align:center">$1,731</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-04-30</td>
 <td style="text-align:center">$1,996</td>
 </tr>
 <tr>
 <td style="text-align:center">2014-01-31</td>
 <td style="text-align:center">$3,684</td>
 </tr>
 <tr>
 <td style="text-align:center">2013-10-31</td>
 <td style="text-align:center">$2,107</td>
 </tr>
 <tr>
 <td style="text-align:center">2013-07-31</td>
 <td style="text-align:center">$1,384</td>
 </tr>
 <tr>
 <td style="text-align:center">2013-04-30</td>
 <td style="text-align:center">$1,865</td>
 </tr>
 <tr>
 <td style="text-align:center">2013-01-31</td>
 <td style="text-align:center">$3,562</td>
 </tr>
 <tr>
 <td style="text-align:center">2012-10-31</td>
 <td style="text-align:center">$1,773</td>
 </tr>
 <tr>
 <td style="text-align:center">2012-07-31</td>
 <td style="text-align:center">$1,550</td>
 </tr>
 <tr>
 <td style="text-align:center">2012-04-30</td>
 <td style="text-align:center">$2,002</td>
 </tr>
 <tr>
 <td style="text-align:center">2012-01-31</td>
 <td style="text-align:center">$3,579</td>
 </tr>
 <tr>
 <td style="text-align:center">2011-10-31</td>
 <td style="text-align:center">$1,947</td>
 </tr>
 <tr>
 <td style="text-align:center">2011-07-31</td>
 <td style="text-align:center">$1,744</td>
 </tr>
 <tr>
 <td style="text-align:center">2011-04-30</td>
 <td style="text-align:center">$2,281</td>
 </tr>
 <tr>
 <td style="text-align:center">2011-01-31</td>
 <td style="text-align:center">$3,693</td>
 </tr>
 <tr>
 <td style="text-align:center">2010-10-31</td>
 <td style="text-align:center">$1,899</td>
 </tr>
 <tr>
 <td style="text-align:center">2010-07-31</td>
 <td style="text-align:center">$1,799</td>
 </tr>
 <tr>
 <td style="text-align:center">2010-04-30</td>
 <td style="text-align:center">$2,083</td>
 </tr>
 <tr>
 <td style="text-align:center">2010-01-31</td>
 <td style="text-align:center">$3,524</td>
 </tr>
 <tr>
 <td style="text-align:center">2009-10-31</td>
 <td style="text-align:center">$1,835</td>
 </tr>
 <tr>
 <td style="text-align:center">2009-07-31</td>
 <td style="text-align:center">$1,739</td>
 </tr>
 <tr>
 <td style="text-align:center">2009-04-30</td>
 <td style="text-align:center">$1,981</td>
 </tr>
 <tr>
 <td style="text-align:center">2009-01-31</td>
 <td style="text-align:center">$3,492</td>
 </tr>
 <tr>
 <td style="text-align:center">2008-10-31</td>
 <td style="text-align:center">$1,696</td>
 </tr>
 <tr>
 <td style="text-align:center">2008-07-31</td>
 <td style="text-align:center">$1,804</td>
 </tr>
 <tr>
 <td style="text-align:center">2008-04-30</td>
 <td style="text-align:center">$1,814</td>
 </tr>
 <tr>
 <td style="text-align:center">2008-01-31</td>
 <td style="text-align:center">$2,866</td>
 </tr>
 <tr>
 <td style="text-align:center">2007-10-31</td>
 <td style="text-align:center">$1,611</td>
 </tr>
 <tr>
 <td style="text-align:center">2007-07-31</td>
 <td style="text-align:center">$1,338</td>
 </tr>
 <tr>
 <td style="text-align:center">2007-04-30</td>
 <td style="text-align:center">$1,279</td>
 </tr>
 <tr>
 <td style="text-align:center">2007-01-31</td>
 <td style="text-align:center">$2,304</td>
 </tr>
 <tr>
 <td style="text-align:center">2006-10-31</td>
 <td style="text-align:center">$1,012</td>
 </tr>
 <tr>
 <td style="text-align:center">2006-07-31</td>
 <td style="text-align:center">$963</td>
 </tr>
 <tr>
 <td style="text-align:center">2006-04-30</td>
 <td style="text-align:center">$1,040</td>
 </tr>
 <tr>
 <td style="text-align:center">2006-01-31</td>
 <td style="text-align:center">$1,667</td>
 </tr>
 <tr>
 <td style="text-align:center">2005-10-31</td>
 <td style="text-align:center">$534</td>
 </tr>
 <tr>
 <td style="text-align:center">2005-07-31</td>
 <td style="text-align:center">$416</td>
 </tr>
 <tr>
 <td style="text-align:center">2005-04-30</td>
 <td style="text-align:center">$475</td>
 </tr>
 <tr>
 <td style="text-align:center">2005-01-31</td>
 <td style="text-align:center">$709</td>
 </tr>
 </tbody>
 </table>,
 <table class="historical_data_table table">
 <thead>
 <tr>
 <th style="text-align:center">Sector</th>
 <th style="text-align:center">Industry</th>
 <th style="text-align:center">Market Cap</th>
 <th style="text-align:center">Revenue</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:center"><a href="https://www.macrotrends.net/stocks/sector/3/retail-wholesale">Retail/Wholesale</a></td>
 <td style="text-align:center"><a href="https://www.macrotrends.net/stocks/industry/156/">Retail - Consumer Electronics</a></td>
 <td style="text-align:center">$13.968B</td>
 <td style="text-align:center">$6.466B</td>
 </tr>
 <tr>
 <td colspan="4" style="padding:15px;">
 <span>GameStop Corp. is the world's largest video game and entertainment software retailer. The company operates 4,816 retail stores across the United States and in fifteen countries worldwide. The company also operates two e-commerce sites, GameStop.com and EBgames.com, and publishes Game Informer? magazine, a leading multi-platform video game publication. GameStop Corp. sells new and used video game software, hardware and accessories for next generation video game systems from Sony, Nintendo, and Microsoft. In addition, the company sells PC entertainment software, related accessories and other merchandise.</span>
 </td>
 </tr>
 </tbody>
 </table>,
 <table class="historical_data_table table">
 <thead>
 <tr>
 <th style="text-align:center; width:40%;">Stock Name</th>
 <th style="text-align:center; width:20%;">Country</th>
 <th style="text-align:center; width:20%;">Market Cap</th>
 <th style="text-align:center; width:20%;">PE Ratio</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/BBY/best-buy/revenue">Best Buy (BBY)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$30.605B</td>
 <td style="text-align:center">14.92</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/GMELY/gome-retail-holdings/revenue">GOME Retail Holdings (GMELY)</a></td>
 <td style="text-align:center">China</td>
 <td style="text-align:center">$4.952B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/VVNT/vivint-smart-home/revenue">Vivint Smart Home (VVNT)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$2.936B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/CONN/conns/revenue">Conn's (CONN)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$0.461B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 <tr>
 <td style="text-align:left"><a href="/stocks/charts/TAIT/taitron-components/revenue">Taitron Components (TAIT)</a></td>
 <td style="text-align:center">United States</td>
 <td style="text-align:center">$0.025B</td>
 <td style="text-align:center">0.00</td>
 </tr>
 </tbody>
 </table>,
 <table class="table">
 <thead>
 <tr>
 <th>Link Preview</th>
 <th>HTML Code (Click to Copy)</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td><a>GameStop Revenue 2006-2020 | GME</a></td>
 <td><input class="modal_link" size="60" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue'&gt;GameStop Revenue 2006-2020 | GME&lt;/a&gt;"/></td>
 </tr>
 <tr>
 <td><a>Macrotrends</a></td>
 <td><input class="modal_link" size="60" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue'&gt;Macrotrends&lt;/a&gt;"/></td>
 </tr>
 <tr>
 <td><a>Source</a></td>
 <td><input class="modal_link" size="60" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue'&gt;Source&lt;/a&gt;"/></td>
 </tr>
 </tbody>
 </table>,
 <table class="table">
 <thead>
 <tr>
 <th>Link Preview</th>
 <th>HTML Code (Click to Copy)</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td><a>GameStop Revenue 2006-2020 | GME</a></td>
 <td><input class="modal_link" size="50" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue'&gt;GameStop Revenue 2006-2020 | GME&lt;/a&gt;"/></td>
 </tr>
 <tr>
 <td><a>Macrotrends</a></td>
 <td><input class="modal_link" size="50" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue'&gt;Macrotrends&lt;/a&gt;"/></td>
 </tr>
 <tr>
 <td><a>Source</a></td>
 <td><input class="modal_link" size="50" type="text" value="&lt;a href='https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue'&gt;Source&lt;/a&gt;"/></td>
 </tr>
 </tbody>
 </table>]

Using beautiful soup extract the table with `GameStop Quarterly Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column using a method similar to what you did in Question 2.

In [76]:
tables= soup.find_all('table')
gme_revenue= pd.DataFrame(columns=["Date", "Revenue"])
for index, table in enumerate(tables):
    if("Gamestop Quarterly Revenue" in str (table)):
        table_index = index
for row in tables[table_index].tbody.find_all("tr"): 
    column = row.find_all("td")
    if (column != []):
        date = column[0].text
        revenue = column[1].text
gme_revenue = tesla_revenue.append({"Date":date, "Revenue":revenue}, ignore_index=True)
gme_revenue.head()

         Date  Revenue
0  2020-12-31  $10,744
1  2020-09-30   $8,771
2  2020-06-30   $6,036
3  2020-03-31   $5,985
4  2019-12-31   $7,384

Remove the rows in the dataframe that are empty strings or are NaN in the Revenue column. Print the entire tesla_revenue DataFrame to see if you have any.

In [77]:
gme_revenue.dropna(inplace=True)

In [78]:
gme_revenue = gme_revenue[gme_revenue['Revenue'] != ""]

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [79]:
gme_revenue.tail()

          Date Revenue
42  2010-06-30     $28
43  2010-03-31     $21
44  2009-09-30     $46
45  2009-06-30     $27
46  2005-01-31    $709

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`

Give your dashboard a string title, and assign it to the variable title

In [80]:
title = 'Tesla Stock Graph'

In [81]:
file_name = "index.html"

In [82]:
tesla_data.head()

        Date   Open   High    Low  Close    Volume  Dividends  Stock Splits
0 2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
1 2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2 2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

In [83]:
tesla_revenue.head()

         Date  Revenue
0  2020-12-31  $10,744
1  2020-09-30   $8,771
2  2020-06-30   $6,036
3  2020-03-31   $5,985
4  2019-12-31   $7,384

In [84]:
print(type(tesla_revenue))

<class 'pandas.core.frame.DataFrame'>

In [87]:
def make_graph(tesla_data, tesla_revenue, Tesla):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("tesla_data", "tesla_revenue", "Tesla"), vertical_spacing = .3)
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data.Date, infer_datetime_format=True), y=stock_data.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data.Date, infer_datetime_format=True), y=revenue_data.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=Tesla_Stock_Data,
    xaxis_rangeslider_visible=True)
    fig.show()

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`.

In [86]:
make_graph(gme_data, gme_revenue, 'GameStop')

NameError: name 'stock_data' is not defined

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>